body {
    font-family: 'Poppins', sans-serif;
}

.pic {
    background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.3)), url(/look.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

}

.change {
    width: 500px;
    height: 500px;
    text-align: center;
    padding-left: 30%;
    padding-top: 10%;
}

#header {
    font-size: 40px;
    font-weight: bold;
}

.writting {
    font-size: small;
    margin-bottom: 30px;
}

.link-button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border: 5px;

}

/* -- donate-section style-- */
.salary-donation {
    text-align: center;
    margin-top: 80px;
}

#style {
    font-size: 35px;
    font-weight: bolder;
}

.salary-donation p {
    padding: 0px 20% 0px 25%;
    font-size: small;
}

.half-salary {
    display: flex;
    margin-left: 28%;
    margin-bottom: -10%;
}

.salary {
    font-size: 20px;
    font-weight: bold;
    color: #B5B5B5;
    padding: 20px 20px;
    margin: 10px 0px 10px 10px;
    background-color: #FAFAFA;


}

#specific-salary {
    border: 2px solid tomato;
    border-radius: 2px;
    background-color: #FFEEEE;
    color: #FF5959;
    font-weight: bold;
}

#other-amount {
    font-size: small;
    margin-bottom: 30px;
    margin-right: 40px;
    color: rgba(0, 0, 0, 0.616);
}

hr {
    color: rgb(141, 138, 138);
    width: 90%;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 20px;
}

#middile-button {
    margin-right: 25px;
}

.button {
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;

}

.amount {
    width: 500px;
    height: 500px;
    text-align: center;
    padding-left: 30%;
    padding-top: 10%;
}




.top-heading {
    font-size: 50px;
}

.donation-collect {
    margin-top: -25%;
}

.collect {
    text-align: center;
}

.collect p {
    padding: 0px 20% 0px 25%;
    font-size: small;
    margin-bottom: 30px;
}

.good {
    font-size: 20px;
}

#brilliant {
    font-size: 15px;
}

.donation-food {
    display: flex;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.donation-food p {
    text-align: justify;
}

.help-people {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    height: 352px;
    width: 360px;
    border-radius: 5px;
}

#picture {
    background-color: #EDF5F6
}

.help-people img {
    width: 80px;
}

#photo {
    background-color: #FFEEEE;
}

#image {
    background-color: #FFF4D6;
}

.update-section {
    text-align: center;
}

.semester {
    padding: 0px 20% 0px 25%;
    font-size: small;
    margin-bottom: 30px;
}

.update-form {
    background-color: #FFF4D6;
    padding: 50px 5px;
    margin: 0px 20%;
}

.mail-box {
    width: 30%;
    height: 30px;
    background-color: rgba(165, 168, 170, 0.979);
    border: none;
}

#subscribe-btn {
    background-color: rgba(240, 23, 70, 0.74);
    text-decoration: none;
    padding: 4px 10px;
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin-top: 20px;
}

footer h3 {
    font-family: sans-serif;
    color: rgba(200, 240, 21, 0.986);